.page {
    position: relative;
    min-width: 1170px;
    overflow-x: hidden;
}

.ivu-carousel-dots li button {
    background-color: $color !important;
}

.kt {
    color: #000;
    font-family: 'STKaiti', 'KaiTi' !important;
}

.act {
    cursor: pointer;
}

.ivu-page {
    text-align: center;
    padding: 16px;
}

.icon {
    line-height: inherit;
    font-size: inherit;
}

.inner {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    &+span {
        padding: 0 4px;
    }
}

.adlinks {
    img {
        width: 100%;
        display: block;
    }
}



.dynamic {
    background: #eaebed;
    padding: 0 0 32px;

    .inner {
        display: flex;
        justify-content: row;
        justify-content: space-between;
    }

    .grid {
        width: 540px;

        .card {
            height: 450px;
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    }

    .im {
        .card {
            .tit {
                line-height: 40px;
                font-size: 20px;
                border-bottom: 1px solid $color;
                margin: 0 8px;

                .mini {
                    font-size: 14px;
                }
            }

            .info {
                height: 340px;
                overflow-y: auto;

                .items {
                    overflow: hidden;
                }

                .item {
                    display: block;
                    padding: 8px;
                    overflow: hidden;
                    white-space: nowrap;

                    .img {
                        float: left;
                        width: 48px;

                        .head {
                            height: 48px;
                            width: 48px;
                            border-radius: 50%;
                            background: whitesmoke no-repeat center center;
                        }

                        .name {
                            white-space: nowrap;
                            height: 24px;
                            line-height: 24px;
                            font-size: 12px;
                            width: 100%;
                            text-align: center;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    .obj {
                        overflow: hidden;
                        padding: 8px 16px;
                        white-space: normal;
                        word-break: break-all;

                        .text {
                            position: relative;
                            font-size: 12px;
                            float: left;
                            background: #ece9e9;
                            max-width: 80%;
                            padding: 8px;
                            border-radius: 2px;
                            line-height: 24px;
                            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

                            &::before {
                                content: "";
                                position: absolute;
                                top: 24px;
                                right: 100%;
                                margin-top: -8px;
                                display: block;
                                border: 8px solid transparent;
                                border-right-color: #ece9e9;
                            }
                        }
                    }

                    &.mine {
                        .img {
                            float: right;
                        }

                        .obj {
                            .text {
                                float: right;

                                &::before {
                                    right: auto;
                                    left: 100%;
                                    border-right-color: transparent;
                                    border-left-color: #ece9e9;
                                }
                            }
                        }
                    }
                }
            }

            .form {
                background: #ece9e9;
                padding: 10px 8px;
                position: relative;

                .ipt {
                    input {
                        height: 48px;
                        width: 100%;
                        padding: 0 16px;
                        margin: 0;
                        border: none;
                    }
                }

                .act {
                    position: absolute;
                    z-index: 1;
                    cursor: pointer;
                    right: 32px;
                    top: 16px;
                    background: $color;
                    color: #fff;
                    padding: 0 16px;
                    line-height: 32px;
                }
            }
        }
    }

    .list {
        .card {
            overflow: hidden;

            .items {
                padding: 8px;
            }

            .item {
                display: block;
                overflow: hidden;
                padding: 8px;
                white-space: nowrap;

                .img {
                    float: left;
                    height: 120px;
                    width: 160px;
                    background: whitesmoke no-repeat center / cover;
                    margin-right: 16px;
                }

                .obj {
                    overflow: hidden;
                    white-space: normal;

                    .tit {
                        font-size: 18px;
                        line-height: 24px;
                        height:24px;
                        text-overflow: ellipsis;
                        width: 100%;
                        overflow: hidden;
                        color: $color;
                    }

                    .intro {
                        margin-top:24px;
                        height: 72px;
                        line-height: 24px;
                        overflow: hidden;
                        color: #999;
                    }

                    .more {
                        color: $color;
                    }
                }
            }

            .act {
                text-align: center;
                padding: 15px;
            }
        }
    }
}

.actions {
    .btn {
        background: $color;
        color: #fff;
        line-height: 32px;
        text-align: center;
        border-radius: 4px;

        &.round {
            border-radius: 16px;
        }
    }
}


html,
body,
#app {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    overflow: hidden;
}