.page {
    position: relative;
    min-width: 1170px;
    overflow-x: hidden;
}

.ivu-carousel-dots li button {
    background-color: $color !important;
}

.kt {
    color: #000;
    font-family: 'STKaiti', 'KaiTi' !important;
}

.act {
    cursor: pointer;
}

.ivu-page {
    text-align: center;
    padding: 16px;
}

.icon {
    line-height: inherit;
    font-size: inherit;
}

.inner {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    &+span {
        padding: 0 4px;
    }
}

.adlinks {
    img {
        width: 100%;
        display: block;
    }
}

.actions {
    .btn {
        background: $color;
        color: #fff;
        line-height: 32px;
        text-align: center;
        border-radius: 4px;

        &.round {
            border-radius: 16px;
        }
    }
}


html,
body,
#app {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    min-height: 1080px;
    overflow: hidden;
}